
body {
    margin: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 20px;
    background: darkorange;
    color: white;
}

.todo-item {
    color: black;
    cursor: pointer;
    padding: 5px;
    background: #efefef;
    border-bottom: 1px #666 solid;
}

.todo-item button {
    float: right;
    margin: -2px;
    color: #999 !important;
}

.todo-item.selected {
    color: darkorange;
}