<p ng-click="seleccionarTarea(info)" ng-class="{'selected': info.seleccionado}" class="todo-item">
    {{info.descripcion | uppercase}}
    <span ng-if="info.seleccionado">{{info.fTerminado | FechaTarea}}</span>
    <button ng-click="borrarTarea(info)">X</button>
</p>
